@import "compass/reset/utilities"
@import "compass/css3"

//urls
$img_base: 'http://img.wpdigital.net/wp-srv/ad/loaders/latest/img/'

//colours
$border: 1px solid #000
$green: #97DE98
$orange: #F5A869
$yellow: #fa0
$blue: #369
$grey: #ccc
$shadow-colour: #333
$shadow-color: $shadow-colour


@mixin cursor-grabbing
  cursor: -webkit-grabbing
  cursor: -moz-grabbing

@mixin cursor-grab
  cursor: -webkit-grab
  cursor: -moz-grab


//CSS BEGIN

.ad-debug-box, .ad-debug-console
  +nested-reset
  display: none

body .ad-debug-box
  width: 300px
  background-color: $yellow
  border: $border
  color: #000
  padding: 12px
  font-family: sans-serif
  font-size: 12px
  position: absolute
  text-align: left
  cursor: auto
  top: 0
  line-height: 20px
  z-index: 999999999
  opacity: 0.95
  +box-shadow($shadow-colour 0 0 7px 1px)
  +transition(box-shadow 0.2s)

  .ad-debug-handle
    cursor: move
    padding: 8px
    background: url($img_base + 'debug_drag_background.png') repeat top left transparent
    position: absolute
    +cursor-grab

  .ad-debug-handle.right
    right: 0
    border-left: $border

  .ad-debug-handle.left
    left: 0
    border-right: $border

  .ad-debug-handle.top
    top: 0
    border-bottom: $border

  .ad-debug-handle.bottom
    bottom: 0
    border-top: $border

  .ad-debug-section
    margin: 10px

  .large
    font-size: 16px

  ul, li
    margin: 0
    padding: 0
    list-style: square
    float: none
  ul
    padding-left: 16px

  textarea
    border: 1px solid #000
    padding: 5px
    width: 100%
    color: #000
    font-family: monospace
    font-size: 12px

  .ad-debug-bold
    font-weight: bold


.ad-debug-highlight-ad
  border: 1px solid #f00
  +box-shadow(#000 0 0 10px 2px)
  +transition(box-shadow 0.15s)


body .ad-debug-box.dragging
  +box-shadow($shadow-colour 0 0 14px 3px)
  +transform(scale(1.03, 1.03))
  +cursor-grabbing
  .ad-debug-handle
    +cursor-grabbing


body .ad-debug-console
  background-color: #eee
  border-bottom: $border
  color: #000
  font-size: 14px
  line-height: normal
  font-family: sans-serif
  text-align: left
  +box-shadow($shadow-colour 0 0 10px 1px)

  .pad5
    padding: 5px

  .console-button
    cursor: pointer

  .ad-debug-console-title
    font-weight: bold
    font-size: 18px

  .ad-console-box, a.ad-console-box, a.ad-console-box:hover, a.ad-console-box:visited, a.ad-console-box:active
    display: block
    padding: 10px
    border-top: 1px dashed #000
    text-decoration: none
    color: #000

  .green
    background-color: $green

  .orange
    background-color: $orange

  .vi-queue
    background-color: #ADD8E6
    color: #444

  .blue
    color: $blue

  .grey
    background-color: $grey
    color: $grey/2.5

  .ad-debug-bold
    font-weight: bold

.debug-hidden
  display: none

body.adops-debug-enabled
  .ad-debug-box, .ad-debug-console
    display: block
